List((
    texture_width: 144,
    texture_height: 32,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 16,
            height: 32,
        ),
        (
            x: 16,
            y: 0,
            width: 16,
            height: 32,
        ),
    ],
))